@model WebApplication1.Models.OrderDTO




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Create", "Order", FormMethod.Post))
{
    <div>
        <label colspan="2" align="center">Customer Details</label>
    </div>
    <div class="form-row">


        <div class="col-md-4">
            @Html.LabelFor(m => m.OrderName, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.OrderName, new { @class = "form-control" })
            </div>

        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.OrderDescription, new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.OrderDescription, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <label class="control-label">Customer</label>
            <div>
                @*@Html.DropDownList("Id", null, "Select Name", new { @class = "form-control" })*@
                @Html.DropDownList("Name", null, "Select Customer", new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-9"></div>
        <div>
            <input type="submit" value="Submit" class="btn btn-success btn-lg" />
            <a href="/customer/" onmouseover="this.style.color='#0f0'"
               onmouseout="this.style.color='#00f'" class="btn btn-primary btn-lg">
                Back
            </a>
        </div>
    </div>
}
