@model IEnumerable<WebApplication1.Models.Order>



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table, th, td, tbody {
        border: 2px solid black;
    }

    table {
        border-spacing: 80px;
        text-align: center;
    }

    tbody {
    }

    th {
        text-align: center;
        width: 200px;
    }

    td {
        text-align: center;
        width: 200px;
    }
</style>

@*---------------------- ORDER DETAILS and Add Order Button ----------------------------*@


<div class="jumbotron">

    <h3>@ViewBag.Title</h3>

    <label> Orders List </label>
    <div style="margin-left:86%; margin-bottom:30px;">
        @Html.ActionLink("Add Order", "Create", null, new { @class = "btn btn-success btn-md" })

    </div>


    <table style="width:100%" class="table-responsive">

        <tr>
            @*<th>Customer ID</th>*@
            <th>Order No.</th>
            <th>Order Item Name</th>
            <th>Order Item Desc</th>
            <th>Customer No.</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.orderItemName</td>
                <td>@item.orderDesc</td>
                <td>@item.Customer.Name</td>

                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })</td>
            </tr>
        }
    </table>



</div>
